
@font-face {
  font-family: Open Sans Condensed;
  src: url("fonts/OpenSansCondensed-Light.ttf");
}
body
{
    position: relative;
    margin: 0;
    padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
.menu{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.menu a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3.289473684210526vh;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.bar{
  display: flex;
position: fixed;
color: white;
background-color: rgba(0,0,0,0.5);
z-index: 1;
}
.loading{

    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }

.content{
  display: contents;

}
.big_container
{
    /* pointer-events: none; */
    opacity:0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}

.big_container .author
{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.big_container .title
{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.little_container
{
    display: flex;
}
.big_container h2{
  cursor: pointer;
}
.little_container h4
{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 2rem;
    cursor: pointer;
}

.big_container .content_description
{
    font-size: 1rem;
    width: 40%;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    opacity: 1;
}

.big_container .content_credits
{
    font-size: 1rem;
    width: 40%;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    opacity: 0;
}
